.container-fluid {
  background-color: white;
  display: flex;
  margin:0;
  padding: 0;
}

.navbar {
  background-color: #f2f2f2;
  width: 25%;
}

.content {
  background-color: white;
  width: 75%;
}